<h1>Meet AMiE </h1>
<h2>an Automated Management Interactive Environment</h2>
<%= link_to 'Работа с обращениями', leads_path, :class => "btn btn-primary" %>
<button type="button" class="btn btn-primary">Отчетность</button>
<button  type="button" class="btn btn-primary" disabled>Задачи</button>
